<h1>Edit Landmark</h1>
<form method="POST" action="/landmarks/<%=@landmark.id%>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <p>Landmark Name:<input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>"></p>
  <p>Landmark Year Completed:<input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"></p>
  <input type="submit" value="Edit Landmark">
</form>