<h1>New Landmark</h1>
<form method="POST" action="/landmarks">
  <p>Landmark Name:<input type="text" id="landmark_name" name="landmark[name]"></p>
  <p>Landmark Year Completed:<input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
  <input type="submit" value="Create New Landmark">
</form>