<%=@figure.name%>
<p>Titles:<%@figure.titles.each do |title|%><%=title.name%></p><%end%>
<p>Associated Landmarks:<%@figure.landmarks.each do |landmark|%><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a></p><%end%>